/* Selectors: these are used in CSS files to target elements you want apply designs to. ex: body, h1, h2, p. There are multiple ways to select. You can select via attributes, tag, element, class, id, etc. */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap');

/* defining variables */
:root {
    --primary-color: #f59e0b;
    --off-white: #f3f4f6;
    --dark-gray: rgb(114, 114, 114);
}

/* applying the font-family to body of html file */
html {
    height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    height: 100%;
}

#wrapper {
    min-height: 100%; position: relative;
}

.h1margin {
    margin-block-start: .40rem;
    margin-block-end: .40rem;
}

hr {
    margin: 2rem 0rem;
}

/* box model of CSS. CPBM. 
rem: It is a relative length unit. REM is relative to the font size of the root element. Usually its 16 px. When font size increases the spacing of rem also increases relatively. */

/* containers */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* spaces */

.padding-md {
    padding-bottom: 3rem;
}

.padding-small {
    padding-bottom: 0.5rem;
}


/* links */

/* we have to choose primary color and secondary color that will be used to style the links. these colors will be stored in variables and used across the website. */

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* look into BEM naming convention for CSS */

/* lists */

.list-non-bullet {
    list-style: none;

}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.padding {
    padding-inline-start: 0px;
}

/* navigation */

.navigation {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 2rem 1rem 2rem;
    border-bottom-left-radius: 1rem;
}

/* overitiing thorugh inhertiance. here only the link class inside navigation class is being overwritten from the above link  */

.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

/* Active class: in navigation the link while be highllighted if on that page */

.link-active {
    font-weight: bolder;
}


/* header */

.hero {
    padding: 5rem 3rem 3rem 3rem;
}

.hero .hero-img {
    max-width: 280px;
    display: block;
    margin: auto;
}

.hero .projects-img {
    max-width: 500px;
    display: block;
    margin: auto;
    
}

.hero .hero-heading {
    color: var(--dark-gray);
    padding-top: 2rem;
    text-align: center;
}

/* sections */
.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.blog-list {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
}

.blog-border {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
    border: 1px solid var(--primary-color);
}

/* lists */

ul {
    padding-inline-start: 0px;
}

/* footers */

.footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: x-large;
}

.footer .link {
    color: white;
}

/* CSS - cascading style sheets: CSS has multiple styles applied to it from top to bottom
The top most style overrides the same style applied below it within an (div) element*/

/* User Agent Style sheet: every browser has its own prewitten style sheet. When troubleshooting your webpage styling inspect tthe elements and style tab inside tyhe browser */

.footer ul {
    padding-inline-start: 0px;
}

/* blog-posts */

.hero .blog-padding {
    padding: 3rem;
}

.content {
    height: 800px;
  }