
/* Selectors: these are used in CSS files to target elements you want apply designs to. ex: body, h1, h2, p. There are multiple ways to select. You can select via attributes, tag, element, class, id, etc. */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap');

/* defining variables */
:root {
    --primary-color: #f59e0b;
    --dark-gray: rgb(114, 114, 114);
}

/* applying the font-family to body of html file */

body{
    font-family: 'Noto Sans', sans-serif;
}

hr {
    margin: 2rem 0rem;
}
/* box model of CSS. CPBM. 
rem: It is a relative length unit. REM is relative to the font size of the root element. Usually its 16 px. When font size increases the spacing of rem also increases relatively. */

/* containers */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */

/* we have to choose primary color and secondary color that will be used to style the links. these colors will be stored in variables and used across the website. */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}

/* look into BEM naming convention for CSS */

/* lists */

 .list-non-bullet {
    list-style: none;
    
 }

 .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
 }

 /* navigation */

 .navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
 }

 /* overitiing thorugh inhertiance. here only the link class inside navigation class is being overwritten from the above link  */

 .navigation .link {
    color: white;
 }

 .navigation .nav-pills {
    text-align: right;
 }

 .navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
 }

 /* Active class: in navigation the link while be highllighted if on that page */

 .link-active {
    font-weight: bolder;
 }


/* header */

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;

}